{% extends 'base.html.twig' %}

{% block title %}Acteurs{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center my-5">Acteurs :</h1>

    {% for actor in actors %}
    <p class="my-5">{{ loop.index }} - <a  href = "{{ path('actor_show', {id: actor.id}) }}"> {{ actor.name }}</a></p>
    {% else %}
    <p class="fs-5 fst-italic fw-bold">Aucun acteur trouvé.</p>
    {% endfor %}
</div>


{% endblock %}